<% if object.errors.any? %>
  <h3>Please get off your ass and fix what you have broken: </h3>
  <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
  </ul>
<% end %>
